.wrapper{
  margin-bottom: 2rem;
}

.navigation-buttons a,
.navigation-buttons button {
  text-decoration: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.navigation-buttons a.active,
.navigation-buttons a:active,
.navigation-buttons button:hover
{
  color: #be7676;
}
