.basic-info{
    display: flex;
    flex-flow: row;
}
.basic-info:first-child{
    align-items: center;
}

.paper{
    margin-top: 8rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-color: #3f51b5;
    border-radius: 5px;
}

.avatar{
    margin: 0.25rem;
    background-color: black;
}

.form{
    width: 100%;
    margin-top: 0.5rem;
}

.submit{
    margin: 0;
}